/dhall/** linguist-language=Dhall
/.cache/vale/Vocab/base/accept.txt linguist-generated
/.cache/vale/Vocab/dhall-dhall/accept.txt linguist-generated
/.editorconfig linguist-generated
/.envrc linguist-generated
/.gitattributes linguist-generated
/.github/settings.yml linguist-generated
/.github/workflows/pages.yml linguist-generated
/.vale.ini linguist-generated
/.github/workflows/flakehub-publish.yml linguist-generated
/garnix.yaml linguist-generated
/renovate.json linguist-generated
